.card {
    display: flex;
    margin: 10px 0;
    height: 120px;
    width: 250px;
    transition: .3s ease;
    flex-direction: column;
    .info{
        display: none;
    }
}

.card:hover{
    transform: scale(1.2);
}